@charset "utf-8";

.b-modal{
	opacity: 1 !important;
	background-color: rgba(0,0,0,.4) !important
}
.pop_wrap{
	display: none;
	position: relative;
	margin: 0 10px
}
.pop_wrap.img_type .pop_cont{
	padding-top: 10px
}

.pop_wrap.img_type .popbtn_close{
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	width: 30px;
	height: 30px;
	z-index: 3
}
.pop_wrap1{
	display: none;
	position: relative;
	margin: 0 10px
}
.pop_wrap1.img_type .pop_cont{
	padding-top: 10px
}

.pop_wrap1.img_type .popbtn_close{
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	width: 30px;
	height: 30px;
	z-index: 3
}

.pop_type1{
	background-color: #fff;
}
.pop_type1 .popbtn_close{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3
}
.popbtn_close .is_ico{
	margin: auto
}
.pop_title{
	background: #f5f5f5;
	padding:20px 15px;
	font-size:1em;
}
.top_line_title{
	font-size: 1.25em;
	font-weight: 500;
	margin: 25px 0 10px;
}
.top_line_title > span{
	display: inline-block;
	border-top: 1px solid #e94040;
	padding-top: 5px;
}
.pop_cont{
	padding:0 15px;
}
.pop_cont_head{
	padding:40px 0;
	text-align: center
}
.pop_cont_head .bg_txt{
	margin-left:0;
	font-size:0.75em;
}
.pop_cont_head h5{
	font-size:1em;
	margin-top:10px;
}
.pop_cont_body{
	padding:20px 0;
	font-size: 0.813em;
}
.pop_cont_body .narration_area p{
	font-size: 0.75rem
}
.pop_wrap.img_type .pop_cont_body{
	border: 0 none
}
.pop_wrap .btn_wrap{
	margin-top: 20px;
	padding-bottom: 20px
}
.pop_wrap .btn_wrap button{
	width: 48%;
	max-width: 230px;
	padding: 14px 0
}
.pop_wrap1.img_type .pop_cont_body{
	border: 0 none
}
.pop_wrap1 .btn_wrap{
	margin-top: 20px;
	padding-bottom: 20px
}
.pop_wrap1 .btn_wrap button{
	width: 48%;
	max-width: 230px;
	padding: 14px 0
}
.pop_confirm{
	padding:20px 0;
	text-align: center;
}
.pop_confirm input{
	border:none;
	background:#e94040;
	color:#fff;
	padding: 15px 70px;
	font-size:0.75em;
}
.pop_cont_body .table_area{
	padding: 0
}
.choice_area{
	padding-top:40px;
}
.choice_area .choice_wrap:nth-child(2){
	margin-left:10px;
}
.ftc_se, .ftc_gc{
	text-decoration: underline;
}
.sp_block{
	display:block;
}
.is_ico.ico_close{
	background:url(../images/common/ico_close.png) 0 0 no-repeat;
	background-size:100% 100%;
	width:10px;
	height:10px;
	display:inline-block;
}
/* 우편번호 검색*/
.popzip .pop_cont_body{
	border-bottom: none;
	border-top: none
}
.popzip .input_box{
	position:relative;
	width:100%;
}
.popzip .inc_ico.isi_search1{
	position:absolute;
	top:10px;
	right:10px;
}
.popzip .billiard{
	color:#6f7072;
	padding-top:10px;
	padding-bottom:30px;
	text-align: left
}
.popzip .input_box + .table_box{
	margin-top: 20px
}
.popzip td span{
	display:block;
}
.popzip .popbtn_close{
	top:15px;
	right:15px;
}
.popzip .al_l{
	text-align:left;
}
.popzip .table_box{
	overflow-y:auto;
	height:180px;
}
/* //우편번호 검색*/
/* bpopup 스타일 */
.popup_wrap{
	display: none;
}
.popup_wrap .pop_container{
	position: relative;
	padding: 40px 15px 20px;
	background-color: #fff
}
.popup_wrap .pop_container .pop_close{
	position: absolute;
	top: 0;
	right: 10px;
	display: block;
	width: 30px;
	height: 30px
}
.popup_wrap .pop_container .pop_close .isi_close1{
	margin: 10px auto
}
.pop_cont_body .agree_chk{
	text-align: left;
	margin-top: 15px
}

/* 멤버십 혜택 약관*/
.popup_terms .agree_area{
	height:450px;
	border:none;
	padding:30px 0;
	text-align: left;
}
.popup_terms .pop_cont_body{
	border:none;
}
.popup_terms.pop_type1 .popbtn_close,
.popup_reporter.pop_type1 .popbtn_close{
	top:15px;
	right:15px;
}

/* 내부 스크롤 팝업 */
.pop_cont_body .scroll_area{
	height: 50vh;
	overflow-x: hidden;
	overflow-y: auto
}

/* 풋터 뉴스레터 공통 팝업 */
.pop_newsletter{
	text-align: left;
}
.pop_newsletter ol li{
	font-size: 0.875rem;
	line-height: 1.8
}
.pop_newsletter ol li > p{
	color: #6f7072;
	font-size: 0.75rem;
	padding-left: 10px
}

/* 아카이브 세미나 예약하기*/
#popSeminarApply ul li{
	line-height: 1.6
}
#popSeminarApply .info{
	margin-top: 10px
}
#popSeminarApply .info b.imp{
	position: absolute;
	top: 0;
	font-size: 1.25em;
	margin-left: 10px
}
#popSeminarApply .btn_wrap{
	border-top: 1px solid #e1e1e1;
	padding-top: 20px;
}

/* 아카이브 안내 */
#popArchiveInfo .scroll_area {
	height: 60vh
}
#popArchiveInfo ul li{
	line-height: 1.6;
	margin-top: 5px
}
#popArchiveInfo .txt_link{
	text-decoration: underline
}
#popArchiveInfo .archive_step li{
	position: relative;
	text-align: center;
	padding: 15px 0
}
#popArchiveInfo .archive_step li:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -3px;
	display: block;
	width: 6px;
	height: 10px;
	margin-left: -3px;
	background: url('../images/sub/arr_archive_step.png') no-repeat center center;
	transform: rotate(90deg);
}
#popArchiveInfo .archive_step li:last-child:after{
	display: none
}
#popArchiveInfo .archive_step li > div{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #f5f5f5;
	box-sizing: border-box;
	padding-top: 15px
}
#popArchiveInfo .archive_step li > div > span{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 100%;
	font-size: 0.938em;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 35px;
	transform: translate(-50%,-50%);
}
#popArchiveInfo .archive_step li > div.step1 > span{
	background-image: url('../images/sub/icon_archive_step1.png');
}
#popArchiveInfo .archive_step li > div.step2 > span{
	background-image: url('../images/sub/icon_archive_step2.png');
}
#popArchiveInfo .archive_step li > div.step3 > span{
	background-image: url('../images/sub/icon_archive_step3.png');
}
#popArchiveInfo .archive_step li > div.step4 > span{
	background-image: url('../images/sub/icon_archive_step4.png');
}
#popArchiveInfo .con_btn .bullet_squaredot:before{
	top: 14px;
}
#popArchiveInfo .con_btn li{
	margin-top: 5px;
}
#popArchiveInfo li div.btn_ui{
	position: relative;
	display: inline-block;
	background:#e94040;
	padding:7px 8px;
	text-align: center;
	color:#fff;
	font-size:0.875em;
}
#popArchiveInfo .search_guide{
	margin-top: 20px;
	padding: 10px
}
#popArchiveInfo .search_guide h5{
	position: relative;
	font-size: 1em;
	font-weight: 400;
	padding-left: 10px;
	margin-bottom: 10px
}
#popArchiveInfo .search_guide h5:before{
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	height: 10px;
	border-left: 1px solid #e0ac4e;
}
#popArchiveInfo .search_guide table{
	border-collapse: collapse;
	text-align: left;
}
#popArchiveInfo .search_guide table td{
	color: #6f7072;
	border: 1px solid #e1e1e1;
	padding: 15px 5%
}
#popArchiveInfo .search_guide table + p{
	margin-top: 10px
}

/* 팝업 데이터 테이블 */
.pop_cont_body .table_area table{
	text-align: left
}
.pop_cont_body [class*="_box"]{
	vertical-align: middle
}
.pop_cont_body .m_block ~ .m_block{
	margin-top: 10px
}
.pop_cont_body .select_box,
.pop_cont_body .input_box {
	height: 40px;
	border: 0 none;
	background-color: #f5f5f5
}
.pop_cont_body .select_box select{
	padding-left: 10px;
	padding-right: 40px
}
.pop_cont_body .select_box:after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    min-width: 40px;
    min-height: 40px;
    background:url('../images/common/icon_select.png') no-repeat center center;
    transform: translateY(-50%);
    z-index: 0;
}
.pop_cont_body .input_box .input_wrap{
	margin-right: 45px
}
.pop_cont_body .input_box .input_wrap input{
	height: 40px;
	line-height: 40px
}
.pop_cont_body .table_area .phone .inline_block .select_box,
.pop_cont_body .table_area .phone .inline_block .input_box{
	width:28%;
	float:left;
}
.pop_cont_body .table_area .phone .inline_block .dash{
	width:5%;
	float:left;
	text-align: center;
	line-height: 30px
}
.pop_cont_body .table_area .birth .inline_block span{
	text-align: center
}
.pop_cont_body .table_area .recieve label{
	color:#6f7072;
	margin-bottom:10px;
	font-size:1em !important;
}
.pop_cont_body .table_area table tr td.recieve {
	padding:16px 15px
}
.pop_cont_body .table_area .table_bookinfo{
	border:none;
}
.pop_cont_body .table_area .table_bookinfo tr th{
	padding: 10px 0 5px 0;
	background:none;
	border:none;
	text-align: left;
	vertical-align: top
}
.pop_cont_body .table_area .table_bookinfo tr td{
	padding:5px 0;
}
.pop_cont_body .table_area .table_bookinfo .input_box{
	border:0 none;
	width:100%;
}
.pop_cont_body .table_area .table_bookinfo textarea{
	width:100%;
	height:125px;
	border: 0 none;
}
.pop_cont_body .table_area .table_bookinfo .choose_year .select_box{
	width:25%;
	float: left;
}
.pop_cont_body .table_area .table_bookinfo .choose_year .inline_block span,
.pop_cont_body .table_area .table_bookinfo .phone .inline_block span{
 	width:5.3%;
 	float: left;
 	line-height:30px;
 	text-align: center
 }
.pop_cont_body .table_area .table_bookinfo .choose_time .select_box{ 
	width:45%;
	float: left;
}
.pop_cont_body .table_area .table_bookinfo .choose_time .inline_block span{
 	width:5%;
 	float: left;
 	line-height:30px;
 	text-align: center
}
.pop_cont_body .table_area .table_bookinfo td p{
	margin-top: 5px
}
.pop_cont_body .table_area .table_bookinfo td p:first-child{
	margin-top: 0
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #000000;
    display: none;
}

.layerpop {
    display: none;
    z-index: 1000;
    border: 2px solid #ccc;
    background: #fff;
    cursor: move; 
}

.layerpop_area .title {
    padding: 10px 10px 10px 10px;
    border: 0px solid #aaaaaa;
    background: #f1f1f1;
    color: #3eb0ce;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 24px; }

.layerpop_area .layerpop_close {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent url('btn_exit_off.png') no-repeat;
}

.layerpop_area .layerpop_close:hover {
    background: transparent url('btn_exit_on.png') no-repeat;
    cursor: pointer;
}

.layerpop_area .content {
    width: 96%;    
    margin: 2%;
    color: #828282;
}

@media all and (min-width: 768px){

	/* 팝업 데이터 테이블 */
	.pop_cont_body .table_area .select_box, .table_area .input_box, .pop_cont_body .table_area .phone .inline_block .dash, .pop_cont_body .family_info .birth2 span {
	    height: 38px;
	    line-height: 38px;
	}

}

@media all and (min-width: 1024px){
	.pop_wrap.img_type .popbtn_close {
	    right: 17px;
	    width: 40px;
	    height: 40px;
	}
	.pop_type1 .popbtn_close{
		top: 40px;
		right: 40px;
	}
	.pop_wrap{
		width:680px;
	}
	.pop_wrap.img_type{
		width: auto
	}
	.pop_wrap1{
		width:627px;
	}
	.pop_wrap1.img_type{
		width: auto
	}
	.pop_title{
		padding:40px 30px;
		font-size:1.5em;
	}
	.top_line_title{
		font-weight: 500;
		margin: 60px 0 25px;
	}
	.top_line_title > span{
		display: inline-block;
		border-top: 1px solid #e94040;
		padding-top: 5px;
	}
	.pop_cont{
		padding:0 30px;
	}
	.pop_cont_head{
		padding:70px 0;
	}
	.pop_cont_head .bg_txt{
		font-size:0.875em;
	}
	.pop_cont_head h5{
		font-size:1.5em;
		margin-top:10px;
	}
	.pop_cont_body{
		padding:30px 0;
		font-size:1em;
	}
	.pop_wrap .btn_wrap{
		margin-top: 30px;
		padding-bottom: 30px
	}
	.pop_wrap .btn_wrap button{
		width: 230px;
		padding: 19px 0
	}
	.pop_wrap1 .btn_wrap{
		margin-top: 30px;
		padding-bottom: 30px
	}
	.pop_wrap1 .btn_wrap button{
		width: 230px;
		padding: 19px 0
	}
	.pop_confirm{
		padding:30px 0;
	}
	.pop_confirm input{
		padding: 20px 100px;
		font-size:1em;
	}
	.choice_area{
		padding-top:60px;
	}
	.choice_area .choice_wrap:nth-child(2){
		margin-left:60px;
	}
	.ftc_se, .ftc_gc{
		text-decoration: underline;
	}
	.sp_block{
		display:block;
		margin-top:10px;
	}
	.is_ico.ico_close {
	    width: 13px;
	    height: 13px;
	}
	/* 우편번호 검색*/
	.popzip .input_box{
	    height: 70px;
	    line-height: 70px;
	}
	.popzip .inc_ico.isi_search1{
		top:29px;
	}
	.popzip .pop_cont{
		padding-bottom:50px;
	}
	.popzip .table_box {
	    height: 304px;
	}
	/* //우편번호 검색*/
	.popup_terms .agree_area{
		padding:10px 0 30px 0;
	}
	.popup_terms .mCSB_draggerContainer{
		display:none;
	}
	.popup_terms.pop_type1 .popbtn_close,
	.popup_reporter.pop_type1 .popbtn_close{
		top:40px;
		right:30px;
	}
	/* 풋터 뉴스레터 공통 팝업 */
	.pop_newsletter ol li{
		font-size: 1rem
	}
	.pop_newsletter ol li > p{
		font-size: 0.875rem
	}

	/* 아카이브 세미나 예약하기*/
	#popSeminarApply {
		width: 900px
	}
	#popSeminarApply .info{
		margin-top: 20px
	}
	#popSeminarApply .info li{
		position: relative;
	}
	#popSeminarApply .info b.imp{
		position: absolute;
		top: -4px;
		font-size: 1.5em;
		vertical-align: bottom;
		margin-left: 10px
	}
	#popSeminarApply .btn_wrap{
		padding-top: 40px;
	}

	/* 아카이브 안내 */
	#popArchiveInfo {
		width: 900px
	}
	#popArchiveInfo .archive_step li{
		float: left;
		width: 25%;
		text-align: center;
	}
	#popArchiveInfo .archive_step li:after{
		content: '';
		position: absolute;
		top: 50%;
		right: -3px;
		left: auto;
		bottom: auto;
		margin-top: -5px;
		margin-left: 0;
		transform: rotate(0deg);
	}
	#popArchiveInfo .archive_step li > div{
		width: 160px;
		height: 160px;
		padding-top: 40px
	}
	#popArchiveInfo .archive_step + .top_line_title{
		margin: 20px 0 25px;
	}
	#popArchiveInfo .con_btn .bullet_squaredot:before{
		top: 16px;
	}
	#popArchiveInfo .con_btn li{
		margin-top: 8px;
	}
	#popArchiveInfo li div.btn_ui{
		padding:7px 12px;
		text-align: center;
		color:#fff;
	}
	#popArchiveInfo .search_guide h5{
		font-size: 0.938em;
	}
	#popArchiveInfo .search_guide h5:before{
		top: 6px;
		height: 12px;
	}
	#popArchiveInfo .search_guide table td{
		color: #6f7072;
		font-size: 0.938em;
		border: 1px solid #e1e1e1;
		padding: 15px 5%
	}
	#popArchiveInfo .search_guide table + p{
		font-size: 0.875em;
		margin-top: 15px
	}

	/* 팝업 데이터 테이블 */
	.scroll_area .table_area table{
		width: 96%
	}
	.pop_cont_body .table_area .table_bookinfo .choose_year .inline_block span,
	.pop_cont_body .table_area .table_bookinfo .choose_time .inline_block span,
	.pop_cont_body .table_area .table_bookinfo .phone .inline_block span{
		line-height:48px;
	}
	.pop_cont_body .table_area .table_bookinfo .choose_year .select_box{
		width:26%;
	}
	.pop_cont_body .table_area .table_bookinfo .choose_year .inline_block span,
	.pop_cont_body .table_area .table_bookinfo .phone .inline_block span{
		width:7.3%;
	}
	.pop_cont_body .table_area .table_bookinfo .choose_time .select_box{
		width:43%;
	}
	.pop_cont_body .table_area .table_bookinfo .choose_time .inline_block span{
		width:7%;
	}
	.pop_cont_body .table_area .table_bookinfo tr td{
		padding:10px 0;
	}
	.pop_cont_body .table_area .table_bookinfo tr th{
		padding:20px 0 10px 0
	}
	.pop_cont_body .table_area table.table_bookinfo tr td.phone{
		width:100%;
	}
	.pop_cont_body .table_area .input_box .input_wrap input[type=text], 
	.pop_cont_body .table_area .input_box .input_wrap input[type=password],
	.pop_cont_body .table_area .birth .inline_block span,
	.pop_cont_body .table_area .select_box, 
	.pop_cont_body .table_area .input_box,
	.pop_cont_body .table_area .phone .inline_block .dash{
		height:48px;
		line-height:48px;
	}
	.pop_cont_body .table_area .input_width{
		width:35%;
		float:left;
	}
	.pop_cont_body .table_area .billiard, 
	.pop_cont_body .table_area .asterisk{
		text-align: left
	}
	.pop_cont_body .table_area .billiard{
		padding-left: 20px;
	    width: 60%;
	    float: left;
	    margin-left: 10px;
	}
	.pop_cont_body .table_area table tr td.birth,
	.pop_cont_body .table_area table tr td.phone{
		width:65%;
	}
	.pop_cont_body .table_area table tr td.birth span{
		padding-right:2%;
	}
	.pop_cont_body .table_area table tr td.birth span:last-child{
		padding-right:0;
	}
	.pop_cont_body .table_area .birth .select_box,
	.pop_cont_body .table_area .phone .inline_block .select_box, 
	.pop_cont_body .table_area .phone .inline_block .input_box{
		width:26%;
	}
	.pop_cont_body .table_area .phone .inline_block .dash{
		padding:0 6px;
	}
	.pop_cont_body .table_area .billiard.billiard2{
		width:100%;
		margin-left:0;
	}
}

@media all and (min-width: 1400px){

}

@media all and (min-width: 1680px){
	
}

.pop_cont_body .table_area .inline_block:after,
#popArchiveInfo .archive_step ol:after{
	content: '';
	display: block;
	float: none;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden
}